@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font Face for Lufga */
@font-face {
  font-family: 'Lufga';
  src: url('./assets/fonts/LufgaLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lufga';
  src: url('./assets/fonts/LufgaRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lufga';
  src: url('./assets/fonts/LufgaMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lufga';
  src: url('./assets/fonts/LufgaSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lufga';
  src: url('./assets/fonts/LufgaBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Icon utilities */
.icon {
  filter: invert(1) brightness(1.2); /* white-ish on dark */
}

.icon--active {
  filter: invert(0) brightness(1); /* black */
}
